.pxl-counter {
    .pxl--counter-number {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.pxl-counterslide {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-flex;
    vertical-align: middle;
    *vertical-align: auto;
    position: relative;
    .pxl-counterslide-inside {
        display: inline-flex;
    }
    .pxl-counterslide-digit-spacer {
        visibility: hidden;
    }
    .pxl-counterslide-digit,
    .pxl-counterslide-digit-spacer {
        display: -moz-inline-box;
        -moz-box-orient: vertical;
        display: inline-flex;
        vertical-align: middle;
        *vertical-align: auto;
        position: relative;
    }
    .pxl-counterslide-digit-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    .pxl-counterslide-ribbon {
        display: block;
    }
    .pxl-counterslide-ribbon-inner {
        display: block;
        -webkit-backface-visibility: hidden;
    }
    .pxl-counterslide-value {
        display: block;
        -webkit-transform: translateZ(0);
    }
    .pxl-counterslide-value.pxl-counterslide-last-value {
        position: absolute;
    }
    &.pxl-counterslide-animating-up .pxl-counterslide-ribbon-inner {
        -webkit-transition: -webkit-transform 2s;
        -moz-transition: -moz-transform 2s;
        -ms-transition: -ms-transform 2s;
        -o-transition: -o-transform 2s;
        transition: transform 2s;
    }
    &.pxl-counterslide-animating-up.pxl-counterslide-animating
        .pxl-counterslide-ribbon-inner {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    &.pxl-counterslide-animating-down .pxl-counterslide-ribbon-inner {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    &.pxl-counterslide-animating-down.pxl-counterslide-animating
        .pxl-counterslide-ribbon-inner {
        -webkit-transition: -webkit-transform 2s;
        -moz-transition: -moz-transform 2s;
        -ms-transition: -ms-transform 2s;
        -o-transition: -o-transform 2s;
        transition: transform 2s;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.title-full-w {
    width: 100%;
}

.pxl-counter1 {
    &.style-2 {
        .pxl-counter {
            &--inner {
                display: flex;
                align-items: center;
                gap: 25px;
            }
            &--suffix {
                font-size: 25px;
                line-height: 20px;
                font-feature-settings: "sups" on;
            }
            &--title {
                padding-top: 0;
                color: $secondary_color;
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                text-align: left;
                max-width: 81px;
            }
        }
    }
    .pxl-counter {
        &--inner {
            text-align: center;
        }
        &--number {
            color: $secondary_color;
            font-size: 55px;
            font-weight: 600;
            line-height: 40px;
            text-transform: capitalize;
            display: flex;
            align-items: start;
            justify-content: center;
            font-family: "DM Sans", serif;
        }
        &--suffix {
            font-size: 40px;
            font-weight: 500;
            color: $secondary_color;
            font-family: "Inter", serif;
            vertical-align: super;
            font-feature-settings: "sups" on;
        }
        &--title {
            padding-top: 20px;
            color: $secondary_color;
            font-size: 17px;
            font-weight: 500;
            text-transform: capitalize;
            font-family: "Inter", serif;
        }
    }
}

.pxl-counter2 {
    .pxl-counter {
        &--inner {
            @include border-radius(20px);
            border: 1px solid rgba($four_color_hex, 0.5);
            background: $body_bg_color;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 28px;
            padding: 60px 90px 50px 90px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -8px;
                width: calc(100% + 2px);
                height: 100%;
                border: 1px solid rgba($four_color_hex, 0.5);
                background: $body_bg_color;
                border-radius: 20px;
                z-index: -1;
            }
            @media #{$max-lg3} {
                padding: 60px 50px 50px 50px;
            }
        }
        &--number {
            color: $secondary_color;
            text-align: center;
            font-family: "DM Sans";
            font-size: 95px;
            font-weight: 600;
            line-height: 72px;
            display: inline-flex;
            justify-content: center;
        }
        &--suffix {
            color: $secondary_color;
            font-feature-settings: "sups" on;
            font-size: 40px;
            font-weight: 400;
            line-height: 1;
        }
        &--title {
            color: $secondary_color;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.667;
            text-align: center;
        }
    }
}

.pxl-counter3 {
    .pxl-counter {
        &--inner {
            width: 430px;
            height: 430px;
            @include border-radius(430px);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: radial-gradient(
                54.65% 54.65% at 50% 50%,
                #041427 40%,
                #082950 80%,
                #0e488d 100%
            );
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 0;
            }
            svg {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
            @media #{$max-xs} {
                width: 300px;
                height: 300px;
            }
        }
        &--number {
            color: $body_bg_color;
            text-align: center;
            font-family: "DM Sans";
            font-size: 95px;
            font-weight: 400;
            line-height: 72px;
            display: inline-flex;
            justify-content: center;
            margin-bottom: 25px;
            z-index: 3;
            @media #{$max-xs} {
                font-size: 60px;
                line-height: 40px;
                margin-bottom: 15px;
            }
        }
        &--suffix {
            color: $body_bg_color;
            font-feature-settings: "sups" on;
            font-size: 40px;
            font-weight: 400;
            line-height: 1;
            z-index: 3;
            @media #{$max-xs} {
                font-size: 25px;
                line-height: 1;
            }
        }
        &--title {
            color: $body_bg_color;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.875;
            max-width: 230px;
            z-index: 3;
            @media #{$max-xs} {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
}

body.rtl {
}
