.pxl-item--description {
    word-break: break-all;
}

.pxl-icon-box1 {
    .pxl-item {
        &--inner {
            padding: 30px;
            @include border-radius(20px);
            border: 1px solid rgba($four_color_hex, 0.5);
            background: $body_bg_color;
            min-height: 190px;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:hover {
                border-color: $secondary_color;
                background-color: $secondary_color;
                .pxl-item {
                    &--icon {
                        background-color: $body_bg_color;
                        svg {
                            path {
                                fill: $secondary_color;
                            }
                        }
                        i {
                            color: $secondary_color;
                        }
                        &:before {
                            border-color: rgba($four_color_hex, 0.5);
                        }
                    }
                    &--title {
                        color: $body_bg_color;
                    }
                    &--description {
                        color: $body_bg_color;
                    }
                    &--link-list {
                        a {
                            color: $body_bg_color;
                        }
                    }
                    &--follow-social {
                        color: $body_bg_color;
                        &-list {
                            a {
                                color: $body_bg_color;
                            }
                        }
                    }
                }
            }
        }
        &--header {
            display: flex;
            align-items: center;
            gap: 26px;
            margin-bottom: 26px;
        }
        &--icon {
            width: 51px;
            height: 51px;
            @include border-radius(51px);
            background-color: $secondary_color;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            svg,
            i {
                position: relative;
                z-index: 5;
            }
            svg {
                height: 19px;
                path {
                    fill: $body_bg_color;
                    @include transition(
                        all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                    );
                }
            }
            i {
                color: $body_bg_color;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                @include border-radius(51px);
                background-color: transparent;
                border: 1px solid rgba($four_color_hex, 0.5);
                top: 0;
                left: 10px;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
        }
        &--title {
            color: $secondary_color;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.556;
            margin-bottom: 0;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
        &--description {
            color: $secondary_color;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.625;
            word-break: break-word;
            overflow-wrap: break-word;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
        &--link-list {
            display: flex;
            flex-direction: column;
            a {
                color: $secondary_color;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.625;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
        }
        &--follow-social {
            color: $secondary_color;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            &-list {
                margin-top: 6px;
                display: flex;
                align-items: center;
                gap: 20px;
                a {
                    font-size: 14px;
                    color: $secondary_color;
                    @include transition(
                        all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                    );
                }
            }
        }
    }
}

.pxl-icon-box2 {
    .pxl-item {
        &--inner {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &--icon {
            --gradient-color-1: #585092;
            --gradient-color-2: $primary_color;
            --gradient-color-3: $third_color;
            width: 46px;
            height: 46px;
            @include border-radius(5px);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $body_bg_color;
            background-color: $primary_color;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            svg {
                height: 19px;
                path {
                    fill: $body_bg_color;
                }
            }
            a {
                color: inherit;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
        &--title {
            color: $body_bg_color;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.625;
            margin-bottom: 0;
        }
        &--description {
            color: rgba($body_bg_color_hex, 0.7);
            font-size: 16px;
            line-height: 1.625;
        }
    }
    &.style-2 {
        .pxl-item {
            &--inner {
                gap: 25px;
            }
            &--icon {
                width: 46px;
                height: 46px;
                @include border-radius(46px);
                background-color: $body_bg_color;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 46px;
                    height: 46px;
                    @include border-radius(46px);
                    background-color: transparent;
                    border: 1px solid rgba($four_color_hex, 0.5);
                    top: 0;
                    left: 10px;
                    z-index: 3;
                }
                &.gradient-bg-color {
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        inset: 0;
                        border-radius: 46px;
                        background: radial-gradient(
                            102.17% 102.17% at 50% 88.04%,
                            var(--gradient-color-1) 0%,
                            var(--gradient-color-2) 65%,
                            var(--gradient-color-3) 100%
                        );
                    }
                    &:before {
                        border-color: rgba($body_bg_color_hex, 0.4);
                    }
                    a {
                        z-index: 4;
                        color: $body_bg_color;
                    }
                    svg {
                        path {
                            fill: $body_bg_color;
                        }
                    }
                }
                svg {
                    path {
                        fill: $secondary_color;
                    }
                }
                a {
                    color: $secondary_color;
                }
            }
        }
    }
}

.pxl-icon-box3 {
    --gradient-color-1: $secondary_color;
    --gradient-color-2: #6454bd;
    --gradient-color-3: $primary_color;
    --gradient-color-4: $third_color;
    .pxl-item {
        &--inner {
            background: radial-gradient(
                209.81% 190.64% at 88.43% -59.09%,
                var(--gradient-color-1) 0%,
                var(--gradient-color-2) 70.21%,
                var(--gradient-color-3) 95.63%,
                var(--gradient-color-4) 99.04%
            );
            padding: 50px 30px;
            @include border-radius(25px);
        }
        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &--title {
            color: $body_bg_color;
            font-family: "DM Sans";
            font-size: 23px;
            font-weight: 600;
            line-height: 1.43;
            text-transform: uppercase;
            max-width: 205px;
            margin-bottom: 0;
        }
        &--icon {
            svg {
                height: 60px;
                path {
                    fill: $primary_color;
                }
            }
        }
        &--divider {
            margin-top: 19px;
            margin-bottom: 13px;
            path {
                fill: rgba($body_bg_color_hex, 0.3);
            }
        }
        &--description {
            color: rgba($body_bg_color_hex, 0.85);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.635;
            word-break: break-word;
            overflow-wrap: break-word;
        }
    }
}

.pxl-icon-box4 {
    .pxl-item {
        &--inner {
            @include border-radius(30px);
            border: 1px solid rgba($four_color_hex, 0.5);
            background-color: $body_bg_color;
            padding: 49px;
        }
        &--icon {
            svg {
                height: 55px;
                path {
                    fill: $secondary_color;
                }
            }
            i {
                color: $secondary_color;
            }
            margin-bottom: 72px;
        }
        &--title {
            color: $secondary_color;
            font-size: 23px;
            font-weight: 600;
            line-height: 1.43;
            text-transform: uppercase;
            max-width: 250px;
            margin-bottom: 0;
        }
        &--divider {
            margin-top: 25px;
            margin-bottom: 14px;
            color: rgba($four_color_hex, 0.5);
        }
        &--description {
            color: rgba($secondary_color_hex, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.625;
            word-break: break-word;
            overflow-wrap: break-word;
        }
    }
}

@keyframes wobble_vertical {
    16.65% {
        transform: translateY(8px);
    }
    33.3% {
        transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
    }
    66.6% {
        transform: translateY(-2px);
    }
    83.25% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes pxl_left_from_right {
    49% {
        -webkit-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes pxl_left_from_right {
    49% {
        -moz-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes pxl_left_from_right {
    49% {
        transform: translate(-100%);
    }
    50% {
        opacity: 0;
        transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}

// Case Contact Info
.pxl-contact-info1 {
    .pxl-item {
        &--inner {
            display: flex;
            align-items: center;
            gap: 15px;
            @media #{$max-sm} {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
            &:hover {
                .pxl-item--icon {
                    &:before {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }
        &--icon {
            width: 42px;
            height: 42px;
            @include border-radius(42px);
            background-color: $primary_color;
            @extend .pxl-flex-center;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.5);
                width: 100%;
                height: 100%;
                background-color: $secondary_color;
                @include border-radius(42px);
                opacity: 0;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
            i,
            svg,
            img {
                color: #fff;
                position: relative;
                z-index: 3;
            }
        }
        &--meta {
            flex: 1;
            @media #{$max-sm} {
                text-align: center;
            }
        }
        &--title {
            color: $secondary_color;
            font-family: "General Sans";
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.67;
        }
        &--description {
            color: $secondary_color;
            font-family: Satoshi;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.67;
        }
    }
    &.style-2 {
        .pxl-item {
            &--icon {
                width: 50px;
                height: 50px;
                @include border-radius(8px);
                background-color: $primary_color;
                svg {
                    width: 18px;
                }
                &:before {
                    @include border-radius(8px);
                }
            }
            &--meta {
                flex: 1;
            }
        }
    }
}

// Case Social Share
.pxl-social-share {
    &--inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        &:hover {
            .pxl-social-share--list {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    &--icon {
        width: 59px;
        height: 59px;
        @include border-radius(59px);
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i,
        svg,
        img {
            color: $secondary_color;
        }
    }
    &--list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: translateY(-10px);
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
    }
    &--item {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(2px);
        @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
        a {
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        i,
        svg,
        img {
            color: #fff;
            font-size: 14px;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            path {
                fill: #fff;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
        }
        &:hover {
            background-color: rgba(255, 255, 255, 1);
            i,
            svg,
            img {
                color: $secondary_color;
                path {
                    fill: $secondary_color;
                }
            }
        }
    }
}

// Case Icon Box Carousel
.pxl-iconbox-carousel1 {
    .pxl-item {
        &--header {
            display: flex;
            align-items: center;
            gap: 42px;
        }
        &--icon {
            --gradient-color-1: #45349a;
            --gradient-color-2: $primary_color;
            --gradient-color-3: $third_color;
            position: relative;
            width: 80px;
            height: 80px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include border-radius(80px);
            background: radial-gradient(
                90% 90% at 50% 78.13%,
                var(--gradient-color-1) 0%,
                var(--gradient-color-2) 70%,
                var(--gradient-color-3) 100%
            );
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 12px;
                width: 100%;
                height: 100%;
                z-index: 3;
                @include border-radius(80px);
                background-color: transparent;
                border: 1px solid rgba($body_bg_color_hex, 0.5);
            }
            svg {
                height: 36px;
                path {
                    fill: $body_bg_color;
                }
            }
        }
        &--title {
            color: $body_bg_color;
            font-family: "DM Sans";
            font-size: 23px;
            font-weight: 500;
            line-height: 1.43;
            letter-spacing: 2.3px;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        &--divider {
            color: $four_color_hex;
            margin: 35px 0;
        }
        &--description {
            color: $body_bg_color;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.65;
            word-break: break-word;
            overflow-wrap: break-word;
        }
    }
}

.pxl-iconbox-carousel2 {
    .pxl-item {
        &--inner {
            background-color: $body_bg_color;
            @include border-radius(20px);
            padding: 30px;
            padding-top: 35px;
            border: 1px solid rgba($four_color_hex, 0.5);
            position: relative;
            margin-bottom: 8px;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:after {
                content: "";
                position: absolute;
                background-color: $body_bg_color;
                top: 8px;
                left: 0;
                width: 100%;
                height: 100%;
                @include border-radius(20px);
                border: 1px solid rgba($four_color_hex, 0.5);
                z-index: -1;
            }
            &:hover {
                background-color: $secondary_color;
                border-color: $secondary_color;
                .pxl-item {
                    &--icon {
                        &:before {
                            border-color: rgba($body_bg_color_hex, 0.3);
                        }
                        &:after {
                            opacity: 1;
                        }
                    }
                    &--title {
                        color: $body_bg_color;
                    }
                    &--divider {
                        color: rgba($four_color_hex, 0.5);
                    }
                    &--description {
                        color: rgba($body_bg_color_hex, 0.85);
                    }
                }
            }
        }
        &--header {
            display: flex;
            align-items: center;
            gap: 40px;
            @media #{$max-xs} {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
        }
        &--icon {
            --spacer-icon: 76px;
            flex: 0 0 var(--spacer-icon);
            width: var(--spacer-icon);
            height: var(--spacer-icon);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include border-radius(var(--spacer-icon));
            background: $secondary_color;
            position: relative;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 15px;
                width: 100%;
                height: 100%;
                @include border-radius(var(--spacer-icon));
                background-color: transparent;
                border: 1px solid rgba($four_color_hex, 0.5);
                z-index: 3;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                @include border-radius(var(--spacer-icon));
                background: radial-gradient(102.94% 102.94% at 50% 91.76%, #45349A 0%, #9588F8 65%, #DFB0C4 100%);
                top: 0;
                left: 0;
                opacity: 0;
                @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            }
            svg {
                height: 30px;
                path {
                    fill: $body_bg_color;
                }
                z-index: 2;
            }
            i {
                color: $body_bg_color;
                font-size: 30px;
                z-index: 2;
            }
        }
        &--title {
            font-size: 23px;
            font-weight: 600;
            line-height: 1.43;
            text-transform: uppercase;
            margin-bottom: 0;
            max-width: 205px;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            @media #{$max-xs} {
                max-width: 100%;
                text-align: center;
            }
        }
        &--divider {
            color: rgba($four_color_hex, 0.5);
            margin-top: 19px;
            margin-bottom: 14px;
            width: 100%;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
        &--description {
            color: rgba($secondary_color_hex, 0.85);
            word-break: break-word;
            overflow-wrap: break-word;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
    }
}
