.pxl-item--description {
    word-break: break-all;
}

.pxl-icon-box1 {
    .pxl-item {
        &--inner {
            padding: 30px;
            @include border-radius(20px);
            border: 1px solid rgba($four_color_hex, 0.5);
            background: $body_bg_color;
            min-height: 190px;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:hover {
                border-color: $secondary_color;
                background-color: $secondary_color;
                .pxl-item {
                    &--icon {
                        background-color: $body_bg_color;
                        svg {
                            path {
                                fill: $secondary_color;
                            }
                        }
                        i {
                            color: $secondary_color;
                        }
                        &:before {
                            border-color: rgba($four_color_hex, 0.5);
                        }
                    }
                    &--title {
                        color: $body_bg_color;
                    }
                    &--description {
                        color: $body_bg_color;
                    }
                    &--link-list {
                        a {
                            color: $body_bg_color;
                        }
                    }
                    &--follow-social {
                        color: $body_bg_color;
                        &-list {
                            a {
                                color: $body_bg_color;
                            }
                        }
                    }
                }
            }
        }
        &--header {
            display: flex;
            align-items: center;
            gap: 26px;
            margin-bottom: 26px;
        }
        &--icon {
            width: 51px;
            height: 51px;
            @include border-radius(51px);
            background-color: $secondary_color;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            svg,
            i {
                position: relative;
                z-index: 5;
            }
            svg {
                height: 19px;
                path {
                    fill: $body_bg_color;
                    @include transition(
                        all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                    );
                }
            }
            i {
                color: $body_bg_color;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                @include border-radius(51px);
                background-color: transparent;
                border: 1px solid rgba($four_color_hex, 0.5);
                top: 0;
                left: 10px;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
        }
        &--title {
            color: $secondary_color;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.556;
            margin-bottom: 0;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
        &--description {
            color: $secondary_color;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.625;
            word-break: break-word;
            overflow-wrap: break-word;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
        &--link-list {
            display: flex;
            flex-direction: column;
            a {
                color: $secondary_color;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.625;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
        }
        &--follow-social {
            color: $secondary_color;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            &-list {
                margin-top: 6px;
                display: flex;
                align-items: center;
                gap: 20px;
                a {
                    font-size: 14px;
                    color: $secondary_color;
                    @include transition(
                        all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                    );
                }
            }
        }
    }
}

.pxl-icon-box2 {
    .pxl-item {
        &--inner {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &--icon {
            width: 46px;
            height: 46px;
            @include border-radius(5px);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $body_bg_color;
            background-color: $primary_color;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            svg {
                height: 19px;
                path {
                    fill: $body_bg_color;
                }
            }
            a {
                color: inherit;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
        &--title {
            color: $body_bg_color;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.625;
            margin-bottom: 0;
        }
        &--description {
            color: rgba($body_bg_color_hex, 0.7);
            font-size: 16px;
            line-height: 1.625;
        }
    }
    &.style-2 {
        .pxl-item {
            &--inner {
                gap: 25px;
            }
            &--icon {
                width: 46px;
                height: 46px;
                @include border-radius(46px);
                background-color: $body_bg_color;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 46px;
                    height: 46px;
                    @include border-radius(46px);
                    background-color: transparent;
                    border: 1px solid rgba($four_color_hex, 0.5);
                    top: 0;
                    left: 10px;
                }
                svg {
                    path {
                        fill: $secondary_color;
                    }
                }
                a {
                    color: $secondary_color;
                }
            }
        }
    }
}

.pxl-icon-box3 {
    --gradient-color-1: $secondary_color;
    --gradient-color-2: #6454bd;
    --gradient-color-3: $primary_color;
    --gradient-color-4: $third_color;
    .pxl-item {
        &--inner {
            background: radial-gradient(
                209.81% 190.64% at 88.43% -59.09%,
                var(--gradient-color-1) 0%,
                var(--gradient-color-2) 70.21%,
                var(--gradient-color-3) 95.63%,
                var(--gradient-color-4) 99.04%
            );
            padding: 50px 30px;
            @include border-radius(25px);
        }
        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &--title {
            color: $body_bg_color;
            font-family: "DM Sans";
            font-size: 23px;
            font-weight: 600;
            line-height: 1.43;
            text-transform: uppercase;
            max-width: 205px;
            margin-bottom: 0;
        }
        &--icon {
            svg {
                height: 60px;
                path {
                    fill: $primary_color;
                }
            }
        }
        &--divider {
            margin-top: 19px;
            margin-bottom: 13px;
            path {
                fill: rgba($body_bg_color_hex, 0.3);
            }
        }
        &--description {
            color: rgba($body_bg_color_hex, 0.85);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.635;
            word-break: break-word;
            overflow-wrap: break-word;
        }
    }
}

.pxl-icon-box4 {
    .pxl-item {
        &--inner {
            @include border-radius(30px);
            border: 1px solid rgba($four_color_hex, 0.5);
            background-color: $body_bg_color;
            padding: 49px;
        }
        &--icon {
            svg {
                height: 55px;
                path {
                    fill: $secondary_color;
                }
            }
            i {
                color: $secondary_color;
            }
            margin-bottom: 72px;
        }
        &--title {
            color: $secondary_color;
            font-size: 23px;
            font-weight: 600;
            line-height: 1.43;
            text-transform: uppercase;
            max-width: 250px;
            margin-bottom: 0;
        }
        &--divider {
            margin-top: 25px;
            margin-bottom: 14px;
            color: rgba($four_color_hex, 0.5);
        }
        &--description {
            color: rgba($secondary_color_hex, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.625;
            word-break: break-word;
            overflow-wrap: break-word;
        }
    }
}

@keyframes wobble_vertical {
    16.65% {
        transform: translateY(8px);
    }
    33.3% {
        transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
    }
    66.6% {
        transform: translateY(-2px);
    }
    83.25% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes pxl_left_from_right {
    49% {
        -webkit-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes pxl_left_from_right {
    49% {
        -moz-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes pxl_left_from_right {
    49% {
        transform: translate(-100%);
    }
    50% {
        opacity: 0;
        transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}

// Case Contact Info
.pxl-contact-info1 {
    .pxl-item {
        &--inner {
            display: flex;
            align-items: center;
            gap: 15px;
            @media #{$max-sm} {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
            &:hover {
                .pxl-item--icon {
                    &:before {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }
        &--icon {
            width: 42px;
            height: 42px;
            @include border-radius(42px);
            background-color: $primary_color;
            @extend .pxl-flex-center;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.5);
                width: 100%;
                height: 100%;
                background-color: $secondary_color;
                @include border-radius(42px);
                opacity: 0;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
            i,
            svg,
            img {
                color: #fff;
                position: relative;
                z-index: 3;
            }
        }
        &--meta {
            flex: 1;
            @media #{$max-sm} {
                text-align: center;
            }
        }
        &--title {
            color: $secondary_color;
            font-family: "General Sans";
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.67;
        }
        &--description {
            color: $secondary_color;
            font-family: Satoshi;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.67;
        }
    }
    &.style-2 {
        .pxl-item {
            &--icon {
                width: 50px;
                height: 50px;
                @include border-radius(8px);
                background-color: $primary_color;
                svg {
                    width: 18px;
                }
                &:before {
                    @include border-radius(8px);
                }
            }
            &--meta {
                flex: 1;
            }
        }
    }
}

// Case Social Share
.pxl-social-share {
    &--inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        &:hover {
            .pxl-social-share--list {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    &--icon {
        width: 59px;
        height: 59px;
        @include border-radius(59px);
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i,
        svg,
        img {
            color: $secondary_color;
        }
    }
    &--list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: translateY(-10px);
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
    }
    &--item {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(2px);
        @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
        a {
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        i,
        svg,
        img {
            color: #fff;
            font-size: 14px;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            path {
                fill: #fff;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
        }
        &:hover {
            background-color: rgba(255, 255, 255, 1);
            i,
            svg,
            img {
                color: $secondary_color;
                path {
                    fill: $secondary_color;
                }
            }
        }
    }
}

// Case Icon Box Carousel
.pxl-iconbox-carousel1 {
    .pxl-swiper-container {
        padding: 0 15px;
    }
    .pxl-item {
        &--inner {
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 25px;
            background: #fff;
            padding: 40px 40px 30px 40px;
            box-shadow: 0 3px 15px 0 rgba(192, 197, 184, 0);
            transform: translateY(0);
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 3px 15px 0 rgba(192, 197, 184, 0.7);
            }
            @media #{$max-xsx} {
                padding: 30px 30px 20px 30px;
            }
        }
        &--header {
            display: flex;
            gap: 20px;
            margin-bottom: 22px;
            @media #{$max-xsx} {
                flex-direction: column;
                align-items: center;
                gap: 10px;
                text-align: center;
            }
        }
        &--right {
            flex: 1;
            position: relative;
            height: 70px;
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 84px;
                height: 2px;
                background-color: $third_color;
                @include border-radius(4px);
                @media #{$max-xsx} {
                    width: 55px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            @media #{$max-xsx} {
                height: 50px;
                padding-bottom: 20px;
            }
        }
        &--title {
            color: $secondary_color;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.35;
            max-width: 70%;
            margin-bottom: 0;
            @media #{$max-xsx} {
                max-width: 100%;
                font-size: 18px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &--icon {
            width: 70px;
            height: 70px;
            @include border-radius(8px);
            background-color: $primary_color;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            svg {
                path {
                    fill: #fff;
                }
            }
        }
        &--description {
            color: rgba($secondary_color_hex, 0.8);
            font-size: 15px;
            font-weight: 400;
            line-height: 1.67;
            word-break: break-word;
            overflow-wrap: break-word;
            @media #{$max-xsx} {
                font-size: 14px;
                text-align: center;
            }
        }
    }
    .pxl-swiper-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pxl-swiper-dots {
        margin-top: 30px;
        &.pxl-swiper-pagination-bullets {
            span {
                background-color: rgba($primary_color_hex, 0.5);
                &.swiper-pagination-bullet-active,
                &:hover {
                    background-color: $primary_color;
                    opacity: 1;
                    &:before {
                        border-color: $primary_color;
                    }
                }
            }
        }
    }
}

.pxl-iconbox-carousel2 {
    .pxl-item {
        &--inner {
            margin-top: 16px;
            margin-bottom: 8px;
            background-color: #fff;
            position: relative;
            @include border-radius(25px);
            padding: 114px 35px 32px 35px;
            text-align: center;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:hover {
                .pxl-item--icon {
                    @include transform(translate(-50%, 16px) scale(0.8));
                }
                .pxl-item--popup {
                    opacity: 1;
                    visibility: visible;
                    @include transform(
                        translate(-50%, calc(-50% - 8px)) scale(1)
                    );
                }
            }
        }
        &--icon {
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translate(-50%, 0px) scale(1);
            width: 100px;
            height: 100px;
            @include border-radius(8px);
            background-color: $third_color;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            svg {
                height: 54px;
                path {
                    fill: #fff;
                }
            }
        }
        &--title {
            color: #0a250e;
            font-size: 21px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.3;
            margin-bottom: 0;
            padding-bottom: 20px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 55px;
                height: 2px;
                background-color: $third_color;
                @include border-radius(4px);
            }
        }
        &--popup {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: calc(100% + 16px);
            z-index: 1;
            border-radius: 25px;
            background: linear-gradient(220deg, #fff48b 54.6%, #f4d316 149.21%);
            padding: 30px;
            box-shadow: 0px 5px 0px 0px $third_color;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            @include transform(translate(-50%, calc(-50% - 8px)) scale(0.8));
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
        &--description {
            margin-top: 17px;
            color: rgba($secondary_color_hex, 0.7);
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.73;
        }
    }
    .pxl-swiper-arrow-wrap {
        width: calc(100% + 197px + 197px);
        left: 50%;
        transform: translate(-50%, -50%);
        @media #{$max-xxl} {
            transform: none;
            margin-top: 15px;
        }
        .pxl-swiper-arrow {
            width: 78px;
            height: 78px;
            line-height: 78px;
            background-color: rgba(#fff, 0.3);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(3.5px);
            color: rgba(#fff, 0.7);
            font-size: 26px;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            @media #{$max-xs} {
                width: 50px;
                height: 50px;
            }
            &:hover {
                background-color: rgba(#fff, 1);
                color: $secondary_color;
            }
            &.pxl-swiper-arrow-prev {
                i {
                    transform: scalex(-1);
                }
            }
        }
    }
}
