.pxl-image-carousel1 {
    .pxl-item {
        &--image {
            @include border-radius(30px);
            overflow: hidden;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .pxl-btn-video {
                width: 80px;
                height: 80px;
                background-color: rgba($body_bg_color_hex, 0.3);
                backdrop-filter: blur(3.5px);
                @include border-radius(50%);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 24px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.pxl-image-carousel2 {
    .pxl-item {
        &--inner {
            @include border-radius(10px);
            border: 1px solid #AFB4B5;
            background: rgba($body_bg_color_hex, 0.36);
            backdrop-filter: blur(6px);
            padding: 20px;
        }
        &--image {
            @include border-radius(5px);
            overflow: hidden;
            border: 1px solid #D9D9D9;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}