.pxl-pricing1 {
    &.is-popular {
        .pxl-item {
            &--inner {
                background: $body_bg_color;
                border-color: rgba($four_color_hex, 0.5);
            }
            &--icon {
                svg {
                    path {
                        fill: $primary_color;
                    }
                }
            }
            &--title {
                padding: 0 30px;
                color: $secondary_color;
                border-color: rgba($four_color_hex, 0.5);
            }
            &--price {
                color: $secondary_color;
                &-value {
                    color: $secondary_color;
                }
                &-time {
                    color: rgba($secondary_color_hex, 0.5);
                }
            }
            &--divider {
                color: rgba($four_color_hex, 0.5);
            }
            &--description {
                color: rgba($secondary_color_hex, 0.7);
            }
            &--button {
                background-color: $secondary_color;
                color: $body_bg_color;
            }
            &--feature {
                div {
                    color: $secondary_color;
                }
            }
        }
    }
    .pxl-item {
        &--inner {
            @include border-radius(20px);
            border: 1px solid $four_color;
            background: transparent;
            padding: 30px;
            padding-bottom: 80px;
            @media #{$max-xs} {
                padding: 15px;
                padding-bottom: 40px;
            }
        }
        &--meta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$max-xs} {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
        &--icon {
            display: flex;
            align-items: center;
            svg {
                path {
                    fill: #bbb2ff;
                }
            }
        }
        &--title {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 0 46px;
            height: 52px;
            @include border-radius(100px);
            border: 1px solid $four_color;
            color: $body_bg_color;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.45;
            text-transform: uppercase;
            margin-bottom: 0;
            @media #{$max-xs} {
                padding: 0 20px;
                height: 40px;
                font-size: 16px;
            }
        }
        &--price {
            margin-top: 80px;
            display: inline-flex;
            align-items: center;
            color: $body_bg_color;
            font-family: "DM Sans";
            gap: 5px;
            &-currency {
                font-size: 23px;
                font-weight: 600;
            }
            &-inner {
                display: flex;
                align-items: baseline;
            }
            &-value {
                color: $body_bg_color;
                font-size: 55px;
                font-style: normal;
                font-weight: 600;
                line-height: 1.18;
                margin-bottom: 0;
            }
            &-time {
                color: $four_color;
                font-size: 18px;
                font-weight: 400;
            }
        }
        &--divider {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 14px;
            color: rgba($four_color_hex, 0.5);
        }
        &--description {
            color: rgba($body_bg_color_hex, 0.7);
            margin-bottom: 30px;
            word-break: break-word;
            overflow-wrap: break-word;
        }
        &--button {
            width: 100%;
            background-color: $body_bg_color;
            @include border-radius(10px);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 52px;
            color: $secondary_color;
            font-family: "DM Sans";
            font-size: 16px;
            font-weight: 500;
            line-height: 1.625;
            position: relative;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:before {
                content: "";
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                @include border-radius(10px);
                background: linear-gradient(
                    95deg,
                    #dfb0c4 -17.6%,
                    #9588f8 20.95%,
                    #585092 137.26%
                );
                opacity: 0;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
            span {
                position: relative;
                z-index: 2;
                transform: translateX(0);
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
                &:before {
                    content: "\F138";
                    font-family: "bootstrap-icons";
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1.625;
                    color: $body_bg_color;
                    @include transition(
                        all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                    );
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    z-index: 2;
                    opacity: 0;
                }
            }
            &:hover {
                color: $body_bg_color;
                span {
                    transform: translateX(-17px);
                    &:before {
                        transform: translateY(-50%) translateX(35px);
                        opacity: 1;
                    }
                }
                &:before {
                    opacity: 1;
                }
            }
        }
        &--feature {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 7px;
            div {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 400;
                color: $body_bg_color;
                &.active {
                    font-weight: 600;
                }
            }
        }
    }
}

.pxl-pricing2 {
    .pxl-item {
        &--inner {
            background-color: $body_bg_color;
            @include border-radius(20px);
            border: 1px solid rgba($four_color_hex, 0.5);
        }
        &--header {
            border-bottom: 1px solid rgba(#dfdfdf, 0.4);
            padding: 28px 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$max-xs} {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
            &-right {
                flex: 0 0 59%;
                max-width: 59%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media #{$max-xs} {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        &--price {
            display: flex;
            align-items: center;
            &-currency {
                color: $secondary_color;
                font-family: "DM Sans";
                font-size: 23px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            &-inner {
                display: flex;
                align-items: baseline;
            }
            &-value {
                color: $secondary_color;
                font-family: "DM Sans";
                font-size: 55px;
                font-style: normal;
                font-weight: 600;
                line-height: 1.18;
                margin-bottom: 0;
            }
            &-time {
                color: rgba($four_color_hex, 0.50);
                font-family: "DM Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        &--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$max-xs} {
                display: none;
            }
            i {
                color: $primary_color;
            }
            svg {
                height: 38px;
                path {
                    fill: $primary_color;
                }
            }
        }
        &--button {
            span {
                display: inline-flex;
                align-items: center;
                gap: 15px;
            }
        }
        &--body {
            display: flex;
            @media #{$max-xs} {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &--description {
            flex: 0 0 41%;
            max-width: 41%;
            padding: 30px 35px;
            border-right: 1px solid rgba(#dfdfdf, 0.4);
            position: relative;
            &-text {
                margin-bottom: 0;
                word-break: break-word;
            }
            i {
                position: absolute;
                top: -12px;
                right: -10px;
                color: rgba(#dfdfdf, 0.6);
            }
            @media #{$max-xs} {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 15px;
                border-right: none;
                border-bottom: 1px solid rgba(#dfdfdf, 0.4);
            }
        }
        &--feature {
            flex: 0 0 59%;
            max-width: 59%;
            padding: 30px 30px 35px 30px;
            display: flex;
            flex-direction: column;
            gap: 7px;
            @media #{$max-xs} {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 15px;
            }
            &-content {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $secondary_color;
                i {
                    font-size: 8px;
                }
                &.active {
                    font-weight: 600;
                }
            }
        }
    }
}

body.rtl {
}
