.pxl-process-carousel1 {
    position: relative;

    .pxl-swiper-slide {
        position: relative;

        &.swiper-slide-active {
            .pxl-item--inner {
                .pxl-item--dot {
                    background-color: $secondary_color;
                    &:before {
                        background-color: $secondary_color;
                    }
                    &:after {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                        z-index: 0;
                    }
                }
                .pxl-item--year {
                    color: $secondary_color;
                }
            }
        }
    }

    .pxl-item--inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pxl-item--dot {
        position: relative;
        width: 11px;
        height: 11px;
        background-color: #afb4b5;
        @include border-radius(50%);
        z-index: 3;
        @include transition(all 0.3s linear 0ms);
        margin-bottom: 15px;
        flex-shrink: 0;

        // Outer ring (appears on active)
        &:after {
            content: "";
            width: 21px;
            height: 21px;
            background-color: $body_bg_color;
            @include border-radius(50%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            border: 1px solid $secondary_color;
            z-index: 0;
            opacity: 0;
            @include transition(all 0.3s linear 0ms);
        }

        // Inner dot overlay (same size as main dot)
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #afb4b5;
            @include border-radius(50%);
            z-index: 1;
            @include transition(all 0.3s linear 0ms);
        }
    }

    .pxl-item--year {
        color: #afb4b5;
        font-family: "DM Sans";
        font-size: 18px;
        font-weight: 500;
        line-height: 1.556;
        @include transition(all 0.3s linear 0ms);
    }
}
