.pxl--progressbar {
    @include transition(width 1.4s ease);
    width: 0;
    &.vertical {
        @include transition(height 1.4s ease);
        height: 0;
    }
}
.pxl-progressbar-1 {
    --gradient-color-1: #BBB2FF;
    --gradient-color-2: #9588F8;
    .pxl-progressbar--item {
        + .pxl-progressbar--item {
            margin-top: 24px;
        }
        &-meta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        &-title, &-percentage {
            color: $body_bg_color;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.556;
            margin-bottom: 0;
        }
    }
    .pxl-progressbar--wrap {
        height: 1px;
        background-color: rgba($four_color_hex, 0.5);
        @include border-radius(2px);
    }
    .pxl--progressbar {
        height: 2px;
        background: linear-gradient(90deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
        @include border-radius(2px);
    }
}

body.rtl {
}
