.pxl-slider1 {
    .pxl-carousel-inner {
        position: relative;
        overflow: hidden;
        background: $secondary_color;
    }

    .pxl-swiper-container {
        position: relative;
    }

    .pxl-swiper-wrapper {
        position: relative;
    }

    .pxl-swiper-slide {
        z-index: 1;
        will-change: opacity;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);

        &.swiper-slide-active {
            z-index: 2;
        }
    }

    .pxl-slider {
        &--item {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        &--image {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            opacity: 1;
        }
        &--content {
            position: relative;
            z-index: 2;
        }
    }

    .pxl-swiper-bottom {
        position: absolute;
        bottom: 60px;
        max-width: 1290px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        @media #{$max-xl} {
            padding-left: 40px;
        }
        @media #{$max-lg3} {
            padding-left: 90px;
        }
        @media #{$max-lg} {
            padding-left: 100px;
        }
        @media #{$max-xs} {
            padding-left: 15px;
        }
    }
}

.pxl-slider2 {
    .pxl-slider {
        &--item {
            background-color: rgba($secondary_color_hex, 0.5);
            display: flex;
            align-items: center;
            height: 100%;
            overflow: hidden;
            position: relative;
            @media #{$max-md2} {
                flex-direction: column;
            }
        }
        &--image {
            flex: 0 0 55%;
            max-width: 55%;
            width: 100%;
            height: 100%;
            min-height: 847px;
            img {
                width: 100%;
                height: 100%;
                min-height: 847px;
                object-fit: cover;
                object-position: center;
            }
            @media #{$max-md2} {
                flex: 0 0 100%;
                max-width: 100%;
                min-height: auto;
                img {
                    min-height: auto;
                }
            }
        }
        &--content {
            flex: 0 0 45%;
            max-width: 45%;
            background-color: #092e5a;
            position: relative;
            @media #{$max-md2} {
                flex: 0 0 100%;
                max-width: 100%;
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                background: linear-gradient(
                    90deg,
                    rgba(9, 46, 90, 0.5) 2.4%,
                    rgba(9, 46, 90, 0.7) 51.04%,
                    rgba(9, 46, 90, 0.85) 66.41%,
                    #092e5a 76.65%
                );
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -364px;
                width: 364px;
                height: 100%;
                background: linear-gradient(
                    90deg,
                    rgba(9, 46, 90, 0) 2.4%,
                    rgba(9, 46, 90, 0.83) 51.04%,
                    rgba(9, 46, 90, 0.96) 66.41%,
                    #092e5a 76.65%
                );
                z-index: 5;
                @media #{$max-sm} {
                    left: 0;
                    width: 100%;
                    height: 364px;
                    top: -364px;
                    background: linear-gradient(
                        180deg,
                        rgba(9, 46, 90, 0) 2.4%,
                        rgba(9, 46, 90, 0.83) 51.04%,
                        rgba(9, 46, 90, 0.96) 66.41%,
                        #092e5a 76.65%
                    );
                }
            }
        }
    }
}

.pxl-slider3 {
    --gradient-color-from: #041427;
    --gradient-color-to: #0e488d;
    &.style-2 {
        .pxl-slider {
            &--item {
                background: transparent;
                @include border-radius(0);
            }
        }
        .pxl-swiper-arrow-wrap {
            position: absolute;
            max-width: calc(1600px + 86px);
            width: calc(1600px + 86px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            top: 50%;
            transform: translateY(-50%);
            left: -43px;
            right: -43px;
            @media #{$max-xxl} {
                max-width: 1290px;
                top: auto;
                bottom: 116px;
                transform: none;
                left: 50%;
                transform: translateX(-50%);
                right: auto;
                justify-content: start;
                gap: 10px;
            }
            @media #{$max-lg3} {
                padding: 0 15px;
            }
            @media #{$max-lg} {
                display: none;
            }
            .pxl-swiper-arrow {
                width: 86px;
                height: 86px;
                background-color: #2F3766;
                color: $body_bg_color;
                border: none;
                i {
                    font-size: 36px;
                }
                &:hover {
                    background-color: $primary_color;
                    color: $body_bg_color;
                }
            }
        }
    }
    .pxl-slider {
        &--item {
            @include border-radius(30px);
            background: linear-gradient(
                180deg,
                var(--gradient-color-from) 28.28%,
                var(--gradient-color-to) 135.76%
            );
        }
    }
    .pxl-carousel-inner {
        z-index: 5;
    }
    .pxl-swiper-arrow-wrap {
        position: absolute;
        max-width: 1290px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        top: auto;
        bottom: 116px;
        left: 50%;
        transform: translateX(-50%);
        @media #{$max-lg3} {
            padding: 0 15px;
        }
        @media #{$max-xsx} {
            display: none;
        }
        .pxl-swiper-arrow {
            width: 52px;
            height: 52px;
            background-color: rgba($primary_color_hex, 0.3);
            color: $body_bg_color;
            border: none;
            z-index: 20;
            position: relative;
            &:hover {
                background-color: rgba($primary_color_hex, 0.8);
                color: $body_bg_color;
            }
        }
    }
}

@keyframes slide-zoom-in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}
