.pxl-slider1 {
    .pxl-carousel-inner {
        position: relative;
        overflow: hidden;
        background: $secondary_color;
    }

    .pxl-swiper-container {
        position: relative;
    }

    .pxl-swiper-wrapper {
        position: relative;
    }

    .pxl-swiper-slide {
        z-index: 1;
        will-change: opacity;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);

        &.swiper-slide-active {
            z-index: 2;
        }
    }

    .pxl-slider {
        &--item {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        &--image {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            opacity: 1;
        }
        &--content {
            position: relative;
            z-index: 2;
        }
    }

    .pxl-swiper-bottom {
        position: absolute;
        bottom: 60px;
        max-width: 1290px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
}

@keyframes slide-zoom-in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}
