.pxl-slider1 {
    .pxl-carousel-inner {
        position: relative;
        overflow: hidden;
        background: $secondary_color;
    }

    .pxl-swiper-container {
        position: relative;
    }

    .pxl-swiper-wrapper {
        position: relative;
    }

    .pxl-swiper-slide {
        z-index: 1;
        will-change: opacity;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);

        &.swiper-slide-active {
            z-index: 2;
        }
    }

    .pxl-slider {
        &--item {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        &--image {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            opacity: 1;
        }
        &--content {
            position: relative;
            z-index: 2;
        }
    }

    .pxl-swiper-bottom {
        position: absolute;
        bottom: 60px;
        max-width: 1290px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
}

.pxl-slider2 {
    .pxl-slider {
        &--item {
            background-color: rgba($secondary_color_hex, 0.5);
            display: flex;
            align-items: center;
            height: 100%;
            overflow: hidden;
        }
        &--image {
            flex: 0 0 55%;
            max-width: 55%;
            width: 100%;
            height: 100%;
            min-height: 847px;
            img {
                width: 100%;
                height: 100%;
                min-height: 847px;
                object-fit: cover;
                object-position: center;
            }
        }
        &--content {
            flex: 0 0 45%;
            max-width: 45%;
            background-color: #092e5a;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -364px;
                width: 364px;
                height: 100%;
                background: linear-gradient(
                    90deg,
                    rgba(9, 46, 90, 0) 2.4%,
                    rgba(9, 46, 90, 0.83) 51.04%,
                    rgba(9, 46, 90, 0.96) 66.41%,
                    #092e5a 76.65%
                );
                z-index: 5;
                @media #{$max-sm} {
                    left: 0;
                    width: 100%;
                    height: 364px;
                    top: -364px;
                    background: linear-gradient(
                        180deg,
                        rgba(9, 46, 90, 0) 2.4%,
                        rgba(9, 46, 90, 0.83) 51.04%,
                        rgba(9, 46, 90, 0.96) 66.41%,
                        #092e5a 76.65%
                    );
                }
            }
        }
    }
}

.pxl-slider3 {
    --gradient-color-from: #041427;
    --gradient-color-to: #0E488D;
    .pxl-slider {
        &--item {
            @include border-radius(30px);
            background: linear-gradient(180deg, var(--gradient-color-from) 28.28%, var(--gradient-color-to) 135.76%);
        }
    }
}

@keyframes slide-zoom-in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}
