.pxl-tabs {
    .pxl-item--title {
        cursor: pointer;
        @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
    }
    .pxl-item--content {
        display: none;
    }
    &.tab-effect-fade {
        .pxl-item--content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100% !important;
            display: block !important;
            opacity: 0 !important;
            visibility: hidden;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            &.active {
                position: static;
                opacity: 1 !important;
                visibility: visible;
            }
        }
        .pxl-tabs--content {
            position: relative;
        }
    }
}

.pxl-tabs2 {
    .pxl-tabs--title {
        padding: 70px 75px;
        @include border-radius(20px 0 0 20px);
        border: 1px solid rgba($four_color_hex, 0.5);
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .pxl-tab--title {
        color: rgba($four_color_hex, 0.5);
        font-family: "DM Sans";
        font-size: 23px;
        font-weight: 600;
        line-height: 1.43;
        z-index: 5;
        position: relative;
        cursor: pointer;
        @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
        &:before {
            content: "\F113";
            font-family: "Flaticon";
            font-size: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) scale(0);
            left: -25px;
            opacity: 0;
            color: $secondary_color;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
        &.active,
        &:hover {
            color: $secondary_color;
            &:before {
                opacity: 1;
                transform: translateY(-50%) scale(1);
            }
        }
    }
}

.over-hd {
    overflow: hidden;
}
//time table
.tt_navigation_cell {
    width: 100%;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;

    .tt_tabs_navigation {
        li {
            margin: 7px !important;
            @media (max-width: 1024px) {
                margin-left: 0 !important;
            }
        }
        li {
            a {
                border-radius: 1115px;
                color: $secondary_color !important;
                border: 1px solid #dadee2 !important;
                @extend .ft-theme-default;
                font-size: 15px !important;
                padding: 0px 35px !important;
                transition: 0.3s !important;
                line-height: 41px !important;
                @media (max-width: 1024px) {
                    padding: 0 15px !important;
                    line-height: 35px !important;
                }
                &:hover {
                    background-color: $primary_color;
                    border-color: $primary_color !important ;
                }
            }
            &.ui-tabs-active {
                a {
                    background-color: $primary_color;
                    border-color: $primary_color !important ;
                }
            }
        }
    }
}
.tt_navigation_cell {
    margin-bottom: 42px !important;
}
.tt_timetable {
    @media (min-width: 768px) {
        border-right: 1px solid #dfe3e6 !important;
        border-bottom: 1px solid #dfe3e6 !important;
    }
    thead {
        tr {
            th {
                border-top: 1px solid #dfe3e6 !important;
                border-left: 1px solid #dfe3e6 !important;
                background-color: #eaf8ff;
                font-size: 17px;
                color: $secondary_color !important;
                @extend .ft-theme-default;
                font-weight: 500;
                line-height: 66px;
            }
        }
    }

    tbody {
        tr {
            td {
                border-top: 1px solid #dfe3e6 !important;
                border-left: 1px solid #dfe3e6 !important;
            }
        }
    }
    .tt_hours_column {
        font-size: 17px;
        color: $secondary_color !important;
        @extend .ft-theme-default;
    }

    .before_hour_text {
        font-size: 13px !important;
        color: #68747a !important;
        font-family: "Rubik", sans-serif;
        font-weight: 400 !important;
    }
}
body .tt_timetable .event {
    .event_header {
        font-size: 15px !important;
        color: $secondary_color !important;
        @extend .ft-theme-default;
        font-weight: 400 !important;
        margin-top: 17px;
    }
}
table.tt_timetable {
    border-spacing: 0 !important;
}
//end timetable
.pxl-tabs1 {
    .pxl-tabs--switch {
        display: inline-block;
        position: relative;
        z-index: 5;
        @media #{$max-sm} {
            margin-left: auto;
            margin-right: auto;
        }
        &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 100%;
            @include border-radius(100px);
            background: $body_bg_color;
            border: 1px solid rgba($four_color_hex, 0.5);
        }
        .pxl-switch-container {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 10px 30px;
            @include border-radius(100px);
            background: $body_bg_color;
            border: 1px solid rgba($four_color_hex, 0.5);
            position: relative;
            @media #{$max-xsx} {
                padding: 10px 15px;
            }
            .pxl-switch-label {
                color: $secondary_color;
                font-family: "DM Sans";
                font-size: 14px;
                font-weight: 600;
                line-height: 1.71;
                text-transform: uppercase;
                cursor: pointer;
            }

            .pxl-switch-toggle {
                position: relative;
                height: 52px;
                width: 92px;

                .pxl-switch-input {
                    display: none;
                }

                .pxl-switch-slider {
                    position: relative;
                    display: inline-block;
                    width: 92px;
                    height: 52px;
                    background-color: $secondary_color;
                    @include border-radius(100px);
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    .pxl-switch-button {
                        position: absolute;
                        top: 6px;
                        left: 6px;
                        width: 40px;
                        height: 40px;
                        @include border-radius(50%);
                        background: radial-gradient(
                            107.96% 107.96% at 53.75% 102.5%,
                            #585092 0%,
                            #a098e2 41.83%,
                            #bbb2ff 70.67%,
                            #dfb0c4 100%
                        );
                        transition: transform 0.3s ease;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            color: $body_bg_color
                        }
                    }
                }

                .pxl-switch-input:checked + .pxl-switch-slider {
                    .pxl-switch-button {
                        transform: translateX(40px);
                    }
                }
            }
        }
    }
}

.pxl-tab-carousel1 {
    .pxl-swiper-dots {
        text-align: left;
        margin-top: 64px;
        margin-bottom: 10px;
        @media (max-width: 1025px) {
            margin-top: 40px;
        }
    }
}
