.pxl-tabs {
    .pxl-item--title {
        cursor: pointer;
        @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
    }
    .pxl-item--content {
        display: none;
    }
    &.tab-effect-fade {
        .pxl-item--content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100% !important;
            display: block !important;
            opacity: 0 !important;
            visibility: hidden;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            &.active {
                position: static;
                opacity: 1 !important;
                visibility: visible;
            }
        }
        .pxl-tabs--content {
            position: relative;
        }
    }
}

.pxl-tabs2 {
    .pxl-tabs--inner {
        display: flex;
        gap: 30px;
        @media #{$max-md2} {
            flex-direction: column;
        }
    }
    .pxl-tabs--title {
        flex: 0 0 40%;
        @media #{$max-md2} {
            flex: 0 0 100%;
            display: flex;
            flex-direction: row;
            gap: 15px;
        }
        @media #{$max-xs} {
            flex-direction: column;
        }
    }
    .pxl-tabs--content {
        flex: 0 0 60%;
        @media #{$max-md2} {
            flex: 0 0 100%;
        }
        .pxl-tab--content {
            display: none;
        }
    }
    .pxl-tab {
        &--title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $primary_color;
            padding: 0 30px;
            height: 86px;
            border-radius: 15px;
            @include transition(all 0.3s linear 0ms);
            box-shadow: 0px 0px 0px 0px #d3e0b1;
            cursor: pointer;
            @media #{$max-md2} {
                width: 100%;
                flex-direction: column;
                height: auto;
                padding: 15px;
            }
            @media #{$max-xs} {
                flex-direction: row;
                gap: 15px;
                justify-content: space-between;
            }
            @media #{$max-xsx} {
                flex-direction: column;
            }
            + .pxl-tab--title {
                margin-top: 27px;
                @media #{$max-md2} {
                    margin-top: 0;
                }
            }
            &:not(.active) {
                .pxl-tab--icon {
                    i {
                        color: #fff;
                    }
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
            &.active {
                background-color: #fff;
                box-shadow: 0px 6px 0px 0px #d3e0b1;
                .pxl-title--text {
                    span {
                        color: $secondary_color;
                    }
                }
                .pxl-tab--price {
                    &-inner {
                        color: $secondary_color;
                    }
                }
            }
        }
        &--price {
            &-inner {
                color: #fff;
                font-weight: 500;
                font-family: "General Sans";
                @include transition(all 0.3s linear 0ms);
                display: flex;
                height: 40px;
            }
            &-currency {
                font-size: 25px;
                align-items: center;
                display: flex;
            }
            &-value {
                font-size: 55px;
                align-items: center;
                display: flex;
                @media #{$max-md2} {
                    font-size: 45px;
                }
            }
            &-time {
                display: flex;
                align-items: flex-end;
                font-size: 17px;
                text-transform: lowercase;
            }
        }
    }
    .pxl-title--text {
        display: flex;
        align-items: center;
        gap: 15px;
        .pxl-tab--icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span {
            color: #fff;
            font-family: "Dancing Script";
            font-size: 25px;
            font-weight: 500;
            line-height: 1.32;
        }
    }
}

.over-hd {
    overflow: hidden;
}
//time table
.tt_navigation_cell {
    width: 100%;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;

    .tt_tabs_navigation {
        li {
            margin: 7px !important;
            @media (max-width: 1024px) {
                margin-left: 0 !important;
            }
        }
        li {
            a {
                border-radius: 1115px;
                color: $secondary_color !important;
                border: 1px solid #dadee2 !important;
                @extend .ft-theme-default;
                font-size: 15px !important;
                padding: 0px 35px !important;
                transition: 0.3s !important;
                line-height: 41px !important;
                @media (max-width: 1024px) {
                    padding: 0 15px !important;
                    line-height: 35px !important;
                }
                &:hover {
                    background-color: $primary_color;
                    border-color: $primary_color !important ;
                }
            }
            &.ui-tabs-active {
                a {
                    background-color: $primary_color;
                    border-color: $primary_color !important ;
                }
            }
        }
    }
}
.tt_navigation_cell {
    margin-bottom: 42px !important;
}
.tt_timetable {
    @media (min-width: 768px) {
        border-right: 1px solid #dfe3e6 !important;
        border-bottom: 1px solid #dfe3e6 !important;
    }
    thead {
        tr {
            th {
                border-top: 1px solid #dfe3e6 !important;
                border-left: 1px solid #dfe3e6 !important;
                background-color: #eaf8ff;
                font-size: 17px;
                color: $secondary_color !important;
                @extend .ft-theme-default;
                font-weight: 500;
                line-height: 66px;
            }
        }
    }

    tbody {
        tr {
            td {
                border-top: 1px solid #dfe3e6 !important;
                border-left: 1px solid #dfe3e6 !important;
            }
        }
    }
    .tt_hours_column {
        font-size: 17px;
        color: $secondary_color !important;
        @extend .ft-theme-default;
    }

    .before_hour_text {
        font-size: 13px !important;
        color: #68747a !important;
        font-family: "Rubik", sans-serif;
        font-weight: 400 !important;
    }
}
body .tt_timetable .event {
    .event_header {
        font-size: 15px !important;
        color: $secondary_color !important;
        @extend .ft-theme-default;
        font-weight: 400 !important;
        margin-top: 17px;
    }
}
table.tt_timetable {
    border-spacing: 0 !important;
}
//end timetable
.pxl-tabs1 {
    .pxl-tabs--switch {
        padding-right: 15px;
        .pxl-switch-container {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 13px;
            .pxl-switch-label {
                color: $secondary_color;
                font-size: 17px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }

            .pxl-switch-toggle {
                position: relative;
                height: 30px;
                width: 50px;

                .pxl-switch-input {
                    display: none;
                }

                .pxl-switch-slider {
                    position: relative;
                    display: inline-block;
                    width: 50px;
                    height: 30px;
                    background-color: $secondary_color;
                    border-radius: 15px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    .pxl-switch-button {
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        width: 22px;
                        height: 22px;
                        border-radius: 22px;
                        background: linear-gradient(
                            154deg,
                            #fff16e 35.51%,
                            #f4be29 86.53%
                        );
                        border-radius: 50%;
                        transition: transform 0.3s ease;
                    }
                }

                .pxl-switch-input:checked + .pxl-switch-slider {
                    background-color: $primary_color;

                    .pxl-switch-button {
                        transform: translateX(20px);
                    }
                }
            }
        }
    }
}

.pxl-tab-carousel1 {
    .pxl-swiper-dots {
        text-align: left;
        margin-top: 64px;
        margin-bottom: 10px;
        @media (max-width: 1025px) {
            margin-top: 40px;
        }
    }
}
