.pxl-tabs {
    .pxl-item--title {
        cursor: pointer;
        @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
    }
    .pxl-item--content {
        display: none;
    }
    &.tab-effect-fade {
        .pxl-item--content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100% !important;
            display: block !important;
            opacity: 0 !important;
            visibility: hidden;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            &.active {
                position: static;
                opacity: 1 !important;
                visibility: visible;
            }
        }
        .pxl-tabs--content {
            position: relative;
        }
    }
}

.pxl-tabs2 {
    .pxl-tabs {
        &--inner {
            background-color: $body_bg_color;
            @include border-radius(15px);
            padding: 35px;
            border: 1px solid rgba($four_color_hex, 0.5);
            position: relative;
            @media #{$max-xs} {
                padding: 20px;
            }
            &:after {
                content: "";
                position: absolute;
                top: -1px;
                right: -1px;
                width: 0;
                height: 0;
                border-bottom: 62px solid transparent;
                border-right: 62px solid $body_bg_color;
            }
        }
        &--fold {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 5;
        }
        &--title {
            padding-bottom: 16px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            @media #{$max-sm} {
                flex-direction: column;
                gap: 10px;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(
                    90deg,
                    rgba(102, 111, 120, 0.5) 0%,
                    rgba(248, 248, 242, 0.5) 100%
                );
                @media #{$max-sm} {
                    display: none;
                }
            }

        }
        &--content {
            margin-top: 28px;
            p {
                margin-bottom: 0;
            }
        }
    }
    .pxl-item--title {
        color: rgba($secondary_color_hex, 0.5);
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 500;
        @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
        display: inline-block;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: -16px;
            right: 0;
            left: auto;
            width: 0%;
            height: 2px;
            @include border-radius(2px);
            background: $secondary_color;
            z-index: 2;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            @media #{$max-xs} {
                display: none;
            }
        }
        &.active,
        &:hover {
            color: $secondary_color;
            &:after {
                width: 100%;
                right: auto;
                left: 0;
            }
        }
    }
}

.pxl-tabs3 {
    .pxl-tabs {
        &--inner {
            display: flex;
            border: 1px solid rgba($four_color_hex, 0.5);
            @include border-radius(20px);
            @media #{$max-md2} {
                flex-direction: column;
            }
        }
        &--title {
            flex: 0 0 25%;
            max-width: 25%;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            @include border-radius(20px 0 0 20px);
            padding-left: 75px;
            border-right: none;
            background-color: $body_bg_color;
            overflow: hidden;
            position: relative;
            @media #{$max-lg} {
                padding-left: 50px;
                padding-right: 15px;
            }
            @media #{$max-md2} {
                flex: 0 0 100%;
                max-width: 100%;
                flex-direction: row;
                justify-content: space-between;
                padding: 50px 30px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
            @media #{$max-xs} {
                flex-direction: column;
                padding: 30px;
                gap: 30px;
                text-align: center;
                width: 100%;
            }
            &:before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 0;
                background-image: repeating-linear-gradient(
                        to right,
                        rgba($four_color_hex, 0.05) 0 1px,
                        transparent 1px 50px
                    ),
                    repeating-linear-gradient(
                        to bottom,
                        rgba($four_color_hex, 0.05) 0 1px,
                        transparent 1px 50px
                    );
                background-position: left center;
                background-size: 50px 50px;
                background-repeat: repeat;
                transform: translateZ(0);
            }
            .pxl-item--title {
                color: rgba($four_color_hex, 0.5);
                font-family: "DM Sans";
                font-size: 23px;
                font-weight: 600;
                line-height: 1.43;
                position: relative;
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                width: 100%;
                @media #{$max-sm} {
                    text-align: center;
                }
                &.active,
                &:hover {
                    color: $secondary_color;
                    &:before {
                        opacity: 1;
                        transform: translate(-25px, -50%);
                        @media #{$max-sm} {
                            display: none;
                        }
                    }
                }
                &:before {
                    content: "\F113";
                    font-family: "Flaticon";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    font-size: 10px;
                    color: $secondary_color;
                    opacity: 0;
                    @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                }
            }
        }
        &--content {
            flex: 0 0 75%;
            max-width: 75%;
            min-height: 257px;
            height: 100%;
            position: relative;
            @media #{$max-md2} {
                flex: 0 0 100%;
                max-width: 100%;
                min-height: auto;
            }
            .pxl-item--content {
                position: relative;
                z-index: 5;
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: -8px;
                width: 100%;
                height: 100%;
                background: $body_bg_color;
                border: 1px solid rgba($four_color_hex, 0.5);
                @include border-radius(20px);
                z-index: 4;
                @media #{$max-md2} {
                    left: 0;
                    top: -8px;
                }
            }
            &-inner {
                display: flex;
                padding: 30px 70px 30px 35px;
                @include border-radius(20px);
                background-color: $secondary_color;
                @media #{$max-sm} {
                    flex-direction: column;
                    padding: 30px;
                }
                @media #{$max-xsx} {
                    padding: 15px;
                }
            }
            &-left {
                flex: 0 0 258px;
                max-width: 258px;
                width: 100%;
                border-right: 1px solid rgba($four_color_hex, 0.5);
                display: flex;
                flex-direction: column;
                @media #{$max-sm} {
                    flex: 0 0 100%;
                    max-width: 100%;
                    border-right: none;
                    border-bottom: 1px solid rgba($four_color_hex, 0.5);
                    padding: 0px;
                    padding-bottom: 30px;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
                @media #{$max-xsx} {
                    flex-direction: column;
                    gap: 15px;
                }
            }
            &-icon {
                width: 80px;
                height: 80px;
                @include border-radius(10px);
                background-color: $body_bg_color;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 36px;
                svg {
                    height: 50px;
                    path {
                        fill: $secondary_color;
                    }
                }
                @media #{$max-sm} {
                    margin-bottom: 0px;
                }
            }
            &-divider {
                width: 100%;
                height: 1px;
                background-color: rgba($four_color_hex, 0.5);
                position: relative;
                @media #{$max-sm} {
                    width: 1px;
                    height: 100%;
                }
                &:before {
                    content: "\F112";
                    font-family: "Flaticon";
                    position: absolute;
                    top: 50%;
                    right: -8px;
                    transform: translate(0, -50%);
                    font-size: 12px;
                    color: rgba($four_color_hex, 0.5);
                    @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                    z-index: 2;
                }
            }
            &-author {
                display: flex;
                align-items: center;
                margin-top: 30px;
                gap: 15px;
                @media #{$max-sm} {
                    margin-top: 0px;
                    gap: 10px;
                }
                &-image {
                    width: 50px;
                    height: 50px;
                    @include border-radius(100px);
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &-meta {
                    h5 {
                        color: $body_bg_color;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.625;
                        margin-bottom: 0;
                    }
                    span {
                        color: rgba($body_bg_color_hex, 0.7);
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 1.71;
                    }
                }
            }
            &-title {
                color: $body_bg_color;
                margin-bottom: 0;
                font-size: 23px;
                font-weight: 600;
                line-height: 1.43;
                margin-top: auto;
                @media #{$max-sm} {
                    margin-top: 0;
                }
            }
            &-right {
                flex: 1;
                max-width: calc(100% - 258px);
                padding: 24px 0 24px 60px;
                p {
                    color: $body_bg_color;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.667;
                    margin-bottom: 0;
                }
                @media #{$max-sm} {
                    padding: 30px 0 0 0;
                    max-width: 100%;
                }
            }
        }
    }
}

.over-hd {
    overflow: hidden;
}
//time table
.tt_navigation_cell {
    width: 100%;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;

    .tt_tabs_navigation {
        li {
            margin: 7px !important;
            @media (max-width: 1024px) {
                margin-left: 0 !important;
            }
        }
        li {
            a {
                border-radius: 1115px;
                color: $secondary_color !important;
                border: 1px solid #dadee2 !important;
                @extend .ft-theme-default;
                font-size: 15px !important;
                padding: 0px 35px !important;
                transition: 0.3s !important;
                line-height: 41px !important;
                @media (max-width: 1024px) {
                    padding: 0 15px !important;
                    line-height: 35px !important;
                }
                &:hover {
                    background-color: $primary_color;
                    border-color: $primary_color !important ;
                }
            }
            &.ui-tabs-active {
                a {
                    background-color: $primary_color;
                    border-color: $primary_color !important ;
                }
            }
        }
    }
}
.tt_navigation_cell {
    margin-bottom: 42px !important;
}
.tt_timetable {
    @media (min-width: 768px) {
        border-right: 1px solid #dfe3e6 !important;
        border-bottom: 1px solid #dfe3e6 !important;
    }
    thead {
        tr {
            th {
                border-top: 1px solid #dfe3e6 !important;
                border-left: 1px solid #dfe3e6 !important;
                background-color: #eaf8ff;
                font-size: 17px;
                color: $secondary_color !important;
                @extend .ft-theme-default;
                font-weight: 500;
                line-height: 66px;
            }
        }
    }

    tbody {
        tr {
            td {
                border-top: 1px solid #dfe3e6 !important;
                border-left: 1px solid #dfe3e6 !important;
            }
        }
    }
    .tt_hours_column {
        font-size: 17px;
        color: $secondary_color !important;
        @extend .ft-theme-default;
    }

    .before_hour_text {
        font-size: 13px !important;
        color: #68747a !important;
        font-family: "Rubik", sans-serif;
        font-weight: 400 !important;
    }
}
body .tt_timetable .event {
    .event_header {
        font-size: 15px !important;
        color: $secondary_color !important;
        @extend .ft-theme-default;
        font-weight: 400 !important;
        margin-top: 17px;
    }
}
table.tt_timetable {
    border-spacing: 0 !important;
}
//end timetable
.pxl-tabs1 {
    .pxl-tabs--switch {
        display: inline-block;
        position: relative;
        z-index: 5;
        @media #{$max-sm} {
            margin-left: auto;
            margin-right: auto;
        }
        &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 100%;
            @include border-radius(100px);
            background: $body_bg_color;
            border: 1px solid rgba($four_color_hex, 0.5);
        }
        .pxl-switch-container {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 10px 30px;
            @include border-radius(100px);
            background: $body_bg_color;
            border: 1px solid rgba($four_color_hex, 0.5);
            position: relative;
            @media #{$max-xsx} {
                padding: 10px 15px;
            }
            .pxl-switch-label {
                color: $secondary_color;
                font-family: "DM Sans";
                font-size: 14px;
                font-weight: 600;
                line-height: 1.71;
                text-transform: uppercase;
                cursor: pointer;
            }

            .pxl-switch-toggle {
                position: relative;
                height: 52px;
                width: 92px;

                .pxl-switch-input {
                    display: none;
                }

                .pxl-switch-slider {
                    position: relative;
                    display: inline-block;
                    width: 92px;
                    height: 52px;
                    background-color: $secondary_color;
                    @include border-radius(100px);
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    .pxl-switch-button {
                        position: absolute;
                        top: 6px;
                        left: 6px;
                        width: 40px;
                        height: 40px;
                        @include border-radius(50%);
                        background: radial-gradient(
                            107.96% 107.96% at 53.75% 102.5%,
                            #585092 0%,
                            #a098e2 41.83%,
                            #bbb2ff 70.67%,
                            #dfb0c4 100%
                        );
                        transition: transform 0.3s ease;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            color: $body_bg_color;
                        }
                    }
                }

                .pxl-switch-input:checked + .pxl-switch-slider {
                    .pxl-switch-button {
                        transform: translateX(40px);
                    }
                }
            }
        }
    }
}

.pxl-tab-carousel1 {
    .pxl-swiper-dots {
        text-align: left;
        margin-top: 64px;
        margin-bottom: 10px;
        @media (max-width: 1025px) {
            margin-top: 40px;
        }
    }
}
