// Case Team Grid

.pxl-team-grid1 {
    .pxl-item {
        &--inner {
            @include border-radius(15px);
            background-color: $body_bg_color;
            &:hover {
                .pxl-item {
                    &--overlay {
                        opacity: 1;
                        visibility: visible;
                        &-button {
                            opacity: 1;
                            @include transform(scale(1));
                        }
                    }
                }
            }
        }
        &--featured {
            height: 375px;
            position: relative;
            @include border-radius(15px 15px 0 0);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include border-radius(15px 15px 0 0);
            }
        }
        &--overlay {
            background: rgba(14, 72, 141, 0.3);
            backdrop-filter: blur(2.5px);
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            @include border-radius(15px 15px 0 0);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
            &-button {
                width: 76px;
                height: 76px;
                @include border-radius(50%);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($body_bg_color_hex, 0.4);
                backdrop-filter: blur(3.5px);
                opacity: 0;
                transform: scale(0.5);
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
                span {
                    width: 12px;
                    height: 12px;
                    position: relative;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        width: 12px;
                        height: 2px;
                        background-color: $body_bg_color;
                    }
                    &::before {
                        transform: rotate(90deg);
                        top: 50%;
                        left: 0;
                    }
                    &::after {
                        transform: rotate(0deg);
                        top: 50%;
                    }
                }
            }
        }
        &--holder {
            border: 1px solid #afb4b5;
            @include border-radius(0 0 15px 15px);
            position: relative;
            text-align: center;
            padding-top: 45px;
            padding-bottom: 30px;
        }
        &--title {
            border-radius: 1000px;
            border: 1px solid #afb4b5;
            background: $body_bg_color;
            display: inline-flex;
            height: 60px;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            text-align: center;
            width: calc(100% - 60px);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -30px;
            h3 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 0;
            }
        }
        &--position {
            color: rgba($secondary_color_hex, 0.6);
            font-size: 14px;
            font-weight: 400;
            line-height: 1.85;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            margin-bottom: 35px;
        }
        &--social {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 37px;
                height: 37px;
                @include border-radius(50%);
                border: 1px solid rgba($four_color_hex, 0);
                position: relative;
                font-size: 13px;
                color: $secondary_color;
                @include transition(
                    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
                &:hover {
                    border-color: rgba($four_color_hex, 0.3);
                }
            }
        }
    }
}
