/*--------------------------------------------------------------
testimonials grid
----------------------------------------------------------------
# testimonial grid
# testimonial carousel
--------------------------------------------------------------*/
.pxl-item--star.pxl-item--4-star {
    svg:nth-child(1) {
        display: none;
    }
}
.pxl-item--star.pxl-item--3-star {
    svg:nth-child(1),
    svg:nth-child(2) {
        display: none;
    }
}
.pxl-item--star.pxl-item--2-star {
    svg:nth-child(1),
    svg:nth-child(2),
    svg:nth-child(3) {
        display: none;
    }
}
.pxl-item--star.pxl-item--1-star {
    svg:nth-child(1),
    svg:nth-child(2),
    svg:nth-child(3),
    svg:nth-child(4) {
        display: none;
    }
}
.pxl-item--star.pxl-item--none {
    display: none !important;
}
// testimonial grid

// testimonial carousel

// testimonial slip
.pxl-sticky {
    position: sticky;
    height: 100vh;
    top: 0;
    overflow: hidden;
    @media #{$max-sm} {
        position: static;
        height: auto;
    }
}
.pxl-testimonial-slip-wrapper {
    min-height: 250vh;
    @media #{$max-sm} {
        min-height: auto;
    }
}

// Case Testimonial Carousel
.pxl-testimonial-carousel1 {
    position: relative;
    .pxl-swiper-slide {
        &:nth-child(even) {
            .pxl-item {
                &--inner {
                    flex-direction: column-reverse;
                }
                &--body {
                    &:before {
                        top: auto;
                        bottom: -0.5px;
                    }
                }
            }
        }
    }
    .pxl-item {
        &--inner {
            display: flex;
            flex-direction: column;
        }
        &--header {
            border-radius: 20px;
            background-color: $body_bg_color;
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 30px;
        }
        &--avatar {
            width: 70px;
            height: 70px;
            @include border-radius(5px);
            img {
                width: 100%;
                height: 100%;
                @include border-radius(5px);
                object-fit: cover;
            }
        }
        &--title {
            color: $secondary-color;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 2px;
        }
        &--position {
            color: rgba($secondary-color, 0.7);
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 1.625;
        }
        &--body {
            @include border-radius(20px);
            background-color: $body_bg_color;
            padding: 30px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: calc(100% - 40px);
                height: 1px;
                background-color: #DFDFDF;
                left: 20px;
                top: -0.5px;
            }
            &-meta {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 36px;
            }
        }
        &--star {
            display: flex;
            align-items: center;
            gap: 2px;
            svg {
                color: #e9bf4a;
            }
        }
        &--qoute {
            svg {
                color: #e4e3f5;
            }
        }
        &--desc {
            padding-right: 23px;
            color: $secondary-color;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
        }
    }
    .pxl-swiper-arrow-wrap {
        margin-top: 0;
        position: absolute;
        bottom: 40px;
        left: -164px;
    }
}

//rtl
body.rtl {
}
