/*--------------------------------------------------------------
testimonials grid
----------------------------------------------------------------
# testimonial grid
# testimonial carousel
--------------------------------------------------------------*/
.pxl-item--star.pxl-item--4-star {
    svg:nth-child(1) {
        display: none;
    }
}
.pxl-item--star.pxl-item--3-star {
    svg:nth-child(1),
    svg:nth-child(2) {
        display: none;
    }
}
.pxl-item--star.pxl-item--2-star {
    svg:nth-child(1),
    svg:nth-child(2),
    svg:nth-child(3) {
        display: none;
    }
}
.pxl-item--star.pxl-item--1-star {
    svg:nth-child(1),
    svg:nth-child(2),
    svg:nth-child(3),
    svg:nth-child(4) {
        display: none;
    }
}
.pxl-item--star.pxl-item--none {
    display: none !important;
}
// testimonial grid

// testimonial carousel

// testimonial slip
.pxl-sticky {
    position: sticky;
    height: 100vh;
    top: 0;
    overflow: hidden;
    @media #{$max-sm} {
        position: static;
        height: auto;
    }
}
.pxl-testimonial-slip-wrapper {
    min-height: 250vh;
    @media #{$max-sm} {
        min-height: auto;
    }
}

// Case Testimonial Carousel
.pxl-testimonial-carousel1 {
    position: relative;
    .pxl-swiper-slide {
        &:nth-child(even) {
            .pxl-item {
                &--inner {
                    flex-direction: column-reverse;
                }
                &--body {
                    &:before {
                        top: auto;
                        bottom: -0.5px;
                    }
                }
            }
        }
    }
    .pxl-item {
        &--inner {
            display: flex;
            flex-direction: column;
        }
        &--header {
            border-radius: 20px;
            background-color: $body_bg_color;
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 30px;
        }
        &--avatar {
            width: 70px;
            height: 70px;
            @include border-radius(5px);
            img {
                width: 100%;
                height: 100%;
                @include border-radius(5px);
                object-fit: cover;
            }
        }
        &--title {
            color: $secondary-color;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 2px;
        }
        &--position {
            color: rgba($secondary-color, 0.7);
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 1.625;
        }
        &--body {
            @include border-radius(20px);
            background-color: $body_bg_color;
            padding: 30px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: calc(100% - 40px);
                height: 1px;
                background-color: #dfdfdf;
                left: 20px;
                top: -0.5px;
            }
            &-meta {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 36px;
            }
        }
        &--star {
            display: flex;
            align-items: center;
            gap: 2px;
            svg {
                color: #e9bf4a;
            }
        }
        &--qoute {
            svg {
                color: #e4e3f5;
            }
        }
        &--desc {
            padding-right: 23px;
            color: $secondary-color;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
        }
    }
    .pxl-swiper-arrow-wrap {
        margin-top: 0;
        position: absolute;
        bottom: 40px;
        left: -164px;
    }
    &.style-2 {
        --gradient-color-1: #041427;
        --gradient-color-2: #0e488d;
        .pxl-swiper-slide {
            &:nth-child(even) {
                .pxl-item {
                    &--body {
                        background: linear-gradient(
                            0deg,
                            var(--gradient-color-1) 32.2%,
                            var(--gradient-color-2) 185.42%
                        );
                    }
                }
            }
        }
        .pxl-swiper-arrow-wrap {
            margin-top: 0;
            position: absolute;
            bottom: 21px;
            left: -164px;
            .pxl-swiper-arrow {
                background-color: $body_bg_color;
                border: 1px solid rgba($four_color_hex, 0.5);
                color: $secondary_color;
                i {
                    font-size: 24px;
                }
                &:hover {
                    background-color: $secondary_color;
                    border-color: $secondary_color;
                    color: $body_bg_color;
                    i {
                        color: $body_bg_color;
                    }
                }
            }
        }
        .pxl-item {
            &--header {
                background-color: $secondary_color;
            }
            &--title {
                color: $body_bg_color;
            }
            &--position {
                color: rgba($body_bg_color_hex, 0.7);
            }
            &--body {
                background-color: none;
                border-radius: 20px;
                background: linear-gradient(
                    180deg,
                    var(--gradient-color-1) 26.44%,
                    var(--gradient-color-2) 197.12%
                );
                &:before {
                    background-color: rgba($four_color_hex, 0.3);
                }
                &-meta {
                    margin-bottom: 85px;
                }
            }
            &--desc {
                color: $body_bg_color;
            }
        }
    }
}

.pxl-testimonial-carousel2 {
    .pxl-swiper-slide {
        &.swiper-slide-active {
            .pxl-item {
                &--inner {
                    background-color: $secondary_color;
                    flex-direction: row;
                    gap: 45px;
                }
                &--avatar {
                    width: 223px;
                    height: 319px;
                }
                &--qoute {
                    opacity: 0;
                    visibility: hidden;
                    max-width: 0;
                    max-height: 0;
                    overflow: hidden;
                }
            }
        }
    }
    .pxl-item {
        &--inner {
            @include border-radius(20px);
            padding: 30px;
            border: 1px solid rgba($four_color_hex, 0.5);
            background: $body_bg_color;
            display: flex;
            flex-direction: column;
            gap: 35px;
            @include transition(
                background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                flex-direction 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                gap 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            );
        }
        &--header {
            display: flex;
            align-items: start;
            justify-content: space-between;
        }
        &--avatar {
            width: 70px;
            height: 70px;
            @include border-radius(10px);
            @include transition(
                width 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                height 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            );
            img {
                width: 100%;
                height: 100%;
                @include border-radius(10px);
                object-fit: cover;
            }
        }
        &--qoute {
            display: block;
            opacity: 1;
            visibility: visible;
            max-width: 100%;
            max-height: 100%;
            @include transition(
                opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                visibility 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                max-width 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                max-height 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            );
            svg {
                color: rgba($primary_color_hex, 0.4);
                @include transition(
                    transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
                );
            }
        }
        &--title {
            color: $secondary_color;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.667;
            margin-bottom: 0;
        }
        &--position {
            color: rgba($secondary_color, 0.7);
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 1.714;
        }
    }
}

.pxl-testimonial-carousel3 {
    .pxl-item {
        &--inner {
            padding: 50px;
            background-color: $body_bg_color;
            @media #{$max-xs} {
                padding: 30px 15px 80px 15px;
            }
        }
        &--desc {
            color: $secondary-color;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.65;
            margin-bottom: 54px;
            padding-right: 46px;
        }
        &--divider {
            color: rgba($four_color_hex, 0.3);
            margin-bottom: 13px;
        }
        &--meta {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &--avatar {
            width: 70px;
            height: 70px;
            @include border-radius(10px);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--title {
            color: $secondary-color;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 3px;
        }
        &--position {
            color: rgba($secondary-color, 0.7);
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 1.625;
        }
        &--star {
            height: 13px;
            display: flex;
            align-items: center;
            svg {
                height: 13px;
                color: #E9BF4A;
            }
        }
        &--info {
            &-meta {
                display: flex;
                align-items: center;
                gap: 18px;
            }
        }
    }
    .pxl-swiper-arrow-wrap {  
        margin-top: 0;
        position: absolute;
        bottom: 62px;
        right: 50px;
        z-index: 5;
        @media #{$max-xs} {
            bottom: 15px;
            right: 50%;
            transform: translateX(50%);
        }
        @media #{$max-xsx} {
            bottom: 25px;
        }
        .pxl-swiper-arrow {
            width: 46px;
            height: 46px;
            @include border-radius(50%);
            background-color: $primary-color;
            color: $body_bg_color;
            &.swiper-button-disabled {
                background-color: rgba(187, 178, 255, 0.50);
            }
        }
    }
}

//rtl
body.rtl {
}
