@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon_northway.eot");
    src: url("../fonts/flaticon_northway.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/flaticon_northway.woff2") format("woff2"),
        url("../fonts/flaticon_northway.woff") format("woff"),
        url("../fonts/flaticon_northway.ttf") format("truetype"),
        url("../fonts/flaticon_northway.svg#flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/flaticon_northway.svg#Flaticon") format("svg");
    }
}

.pxl-icon-active i.flaticon {
    display: inline-flex;
}

[class^="flaticon-"],
[class*=" flaticon-"] {
    display: inline-flex;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
}

.flaticon-cloud:before {
    content: "\f101";
}
.flaticon-chart:before {
    content: "\f102";
}
.flaticon-finance:before {
    content: "\f103";
}
.flaticon-knight:before {
    content: "\f104";
}
.flaticon-mail:before {
    content: "\f105";
}
.flaticon-phone:before {
    content: "\f106";
}
.flaticon-linkedin:before {
    content: "\f107";
}
.flaticon-search:before {
    content: "\f108";
}
.flaticon-clock:before {
    content: "\f109";
}
.flaticon-facebook:before {
    content: "\f10a";
}
.flaticon-instagram:before {
    content: "\f10b";
}
.flaticon-search-1:before {
    content: "\f10c";
}
.flaticon-shopping-cart:before {
    content: "\f10d";
}
.flaticon-comment:before {
    content: "\f10e";
}
.flaticon-user:before {
    content: "\f10f";
}
.flaticon-arrow:before {
    content: "\f110";
}
.flaticon-lock:before {
    content: "\f111";
}
.flaticon-star:before {
    content: "\f112";
}
.flaticon-polygon:before {
    content: "\f113";
}
.flaticon-tag:before {
    content: "\f114";
}
.flaticon-mail-1:before {
    content: "\f115";
}
.flaticon-calendar:before {
    content: "\f116";
}
